body{
    background-color: rgb(255, 255, 235);
}
body,h1,#p1{
    margin:0px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    
}
.d2{
    width: 350px;
    height: 454px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#btn{
    border: none;
    border-radius: 100px;
    background-color: rgb(78, 243, 166);
    color:white;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 48px;
    padding-right: 48px;
    margin-bottom: 50px;
    margin-left: 80px; 
}
#p1{
    color: lightgrey;
    margin-right: 35px;
    letter-spacing: 2px;

}
#p2{
    margin-top: 80px;
    margin-bottom: 40px;
    color:grey;
    font-size: 19px;
}
#h1{
    font-size:40px;
    margin-top: 60px;
    margin-right: 50px;
}
.d1{
    box-shadow: 10px 0 10px 5px  rgb(243, 243, 217);
}
.d2{
    box-shadow: 10px 0 10px 5px  rgb(243,243,217);
}
.d3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}